:root {
  --blue: #039be5;
  --red: #ea736d;
  --yellow: #fbdc4d;
  --line: #fbdc4d;
  --button: #fbdc4d;
  --button-hover: #ffd200;
  --button-active: #e1bc10;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "MPLUS 1p", sans-serif;
  color: #000;
}
::-moz-selection {
  background-color: var(--yellow);
}
::selection {
  background-color: var(--yellow);
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.bottom-line {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.bottom-line::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--line);
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.button {
  display: inline-block;
  padding-left: 42px;
  padding-right: 42px;
  height: 64px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 64px;
  background-color: var(--button);
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}
.button-empty {
  padding-left: 37px;
  padding-right: 37px;
  border: 4px solid #464646;
  color: #464646;
  background-color: transparent;
  line-height: 56px;
}
.button-empty:hover {
  background-color: transparent;
  border-color: #797979;
  color: #797979;
}
.button-empty:active {
  background-color: transparent;
  border-color: #000;
  color: #000;
}
.animate-border {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.animate-border::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -5px;
  height: 6px;
  background-color: var(--yellow);
  width: 0%;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  -moz-transition: 0.15s;
  transition: 0.15s;
  z-index: -1;
}
.animate-border:hover::after,
.animate-border:active::after {
  width: 113%;
}
.animate-border:focus {
  border: 3px dotted var(--red);
}
.animate-border:visited {
  color: #000;
}
.title {
  font-size: 64px;
  font-weight: 800;
}
.fixed-menu.active {
  background-color: rgba(255, 255, 255, 0.926);
  -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.35);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.fixed-menu {
  padding-top: 59px;
  padding-bottom: 59px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.anchor-spacer {
  padding-top: 120px;
  margin-top: -120px;
}
.header {
  padding-top: 267px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img/header/header-lines.jpg);
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}
.header__navbar {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1430px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navbar a {
  color: #000;
}
.header__logo {
  margin-left: 6px;
  margin-top: 2px;
  font-size: 42px;
  font-weight: 900;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.header__logo:hover::after,
.header__logo:active::after {
  height: 42px;
  background-color: #000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.header__logo:hover,
.header__logo:active {
  color: var(--yellow);
}
.header__nav-items {
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.header__nav-items a:not(:last-child) {
  margin-right: 72px;
}
.header__nav-icons {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-icons a:not(:last-child) {
  margin-right: 17px;
}
.linkedin-icon {
  width: 29px;
  height: 29px;
}
.linkedin-icon svg:hover,
.linkedin-icon svg:active {
  stroke: #0077b5;
  fill: #0077b5;
}
.git-icon {
  padding-top: 3px;
  width: 29px;
  height: 29px;
}
.git-icon svg:hover,
.git-icon svg:active {
  stroke: #6cc644;
  fill: #6cc644;
}
.vk-icon {
  padding-top: 5px;
  width: 32px;
  height: 29px;
}
.vk-icon svg:hover,
.vk-icon svg:active {
  stroke: #45668e;
  fill: #45668e;
}
.header__center-top {
  padding-top: 120px;
  margin-top: -120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateY(-140px);
     -moz-transform: translateY(-140px);
      -ms-transform: translateY(-140px);
       -o-transform: translateY(-140px);
          transform: translateY(-140px);
}
.header__center-bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__intro {
  padding-left: 7px;
  max-width: 500px;
  z-index: 1;
}
.header__intro-title {
  margin-bottom: 12px;
  font-size: 46px;
  line-height: 1.2;
}
.header__intro-title .bottom-line::after {
  bottom: 25px;
}
.header__intro-title span {
  font-weight: 800;
}
.header__intro-desc {
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #393f47;
}
.header__intro-form a:not(:last-child) {
  margin-right: 14px;
}
.header__photo {
  position: relative;
  z-index: 1;
}
.header__photo-bg {
  position: absolute;
  top: 31.7%;
  left: 28.4%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, right top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
  background-image: -webkit-linear-gradient(left, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -moz-linear-gradient(left, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -o-linear-gradient(left, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
}
.header__bg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
  -webkit-transform: translateY(-126px);
     -moz-transform: translateY(-126px);
      -ms-transform: translateY(-126px);
       -o-transform: translateY(-126px);
          transform: translateY(-126px);
}
.header__skills {
  padding-left: 7px;
}
.header__skills ul {
  margin-top: 25px;
  margin-bottom: 38px;
  font-size: 24px;
  font-weight: 400;
}
.header__skills li::before {
  content: "\2014";
  margin-right: 8px;
}
.header__skills li:not(:last-child) {
  margin-bottom: 3px;
}
.header__title {
  font-size: 35px;
  font-weight: 800;
}
.header__social {
  padding-right: 55px;
}
.header__social-icons {
  margin-top: 31px;
  margin-bottom: 20px;
}
.header__social-icons a {
  display: inline-block;
}
.header__social-icons a:not(:last-child) {
  margin-right: 28px;
}
.header__social-icons a:hover,
.header__social-icons a:active {
  opacity: 0.7;
}
.header__social-icons img {
  width: 50px;
  height: 50px;
}
.header__social-email {
  font-size: 24px;
  font-weight: 400;
}
.header__social-email a {
  color: #000;
  border-bottom: 1px solid #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__social-email a:hover {
  color: #44aae9;
  border-color: #44aae9;
}
.header__social-email a:active {
  color: #f3adaa;
  border-color: #f3adaa;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 127px;
  background-color: #f4f8f9;
  z-index: -2;
}
.section-portfolio .bottom-line::after {
  bottom: 18px;
}
.section-portfolio .title {
  z-index: 1;
  margin-bottom: 47px;
  margin-left: 7px;
}
.section-portfolio__nav {
  padding-left: 7px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.section-portfolio__nav button {
  font-family: "MPLUS 1p", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.section-portfolio__nav button:not(:last-child) {
  margin-right: 81px;
}
.section-portfolio__nav button:hover {
  color: var(--red);
}
.section-portfolio__nav button:active,
.section-portfolio__nav button:focus {
  color: #000;
}
.card-wrapper {
  padding-left: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.card a {
  color: #000;
}
.card:nth-child(even) .card__title::after {
  right: 0;
  left: unset;
}
.card:hover .card__img img,
.card:active .card__img img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.card:hover .card__title::after,
.card:active .card__title::after {
  width: 100%;
}
.card:hover .card__button-big,
.card:hover .card__button-small {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.card:hover .card__title,
.card:active .card__title {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: #ed574f;
}
.card-big {
  margin-bottom: 60px;
  max-width: 555px;
  width: 50%;
}
.card-small {
  max-width: 360px;
  width: 33%;
}
.card-small .card__title {
  font-size: 26px;
}
.card-small .card__subtitle {
  font-size: 20px;
}
.card__img {
  position: relative;
  margin-bottom: 23px;
}
.card__img a {
  color: var(--red);
}
.card__img img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.card__button-big,
.card__button-small {
  opacity: 0;
  position: absolute;
  background-color: #fff;
}
.card__button-big:hover,
.card__button-small:hover {
  background-color: var(--red);
  color: #fff;
}
.card__button-big:active,
.card__button-small:active {
  background-color: #d4423b;
  color: #fff;
}
.card__button-big {
  top: 43%;
  left: 26%;
}
.card__button-small {
  top: 38%;
  left: 13%;
}
.card__title {
  display: inline-block;
  margin-bottom: 1px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.card__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ed574f;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.card__subtitle {
  font-size: 22px;
  font-weight: 300;
}
.section-timeline {
  padding-top: 126px;
  padding-bottom: 176px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: url(/img/timeline/timeline-lines.jpg);
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}
.section-timeline .bottom-line::after {
  bottom: 18px;
}
.section-timeline__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-timeline__title {
  padding-left: 17px;
  margin-bottom: 163px;
  z-index: 1;
}
.timeline {
  width: 1005px;
}
.timeline .bottom-line::after {
  bottom: 4px;
  height: 7px;
}
.timeline__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline__item:not(:last-child) {
  margin-bottom: 85px;
}
.timeline__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.timeline__item:nth-child(odd) {
  text-align: right;
}
.timeline__item:nth-child(odd) .timeline__item-desc-title {
  margin-left: auto;
}
.timeline__item:nth-child(even) .timeline__item-desc {
  margin-right: -20px;
}
.timeline__item:first-child .timeline__item-icon::before {
  content: "";
  position: absolute;
  top: -105%;
  left: 42%;
  width: 4px;
  height: 57px;
  background-color: #e1eef4;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.timeline__item:not(:last-child) .timeline__item-icon::after {
  content: "";
  position: absolute;
  top: 123%;
  left: 43%;
  width: 4px;
  height: 110px;
  background-color: #e1eef4;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.timeline__item-icon {
  position: absolute;
  top: -12%;
  right: 45%;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.timeline__item-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.timeline__item-desc {
  max-width: 440px;
  height: 140px;
  cursor: pointer;
}
.timeline__item-desc:hover .timeline__item-desc-title::after {
  background-color: var(--red);
}
.timeline__item-desc-title {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 800;
  z-index: 1;
}
.timeline__item-desc-text {
  font-size: 18px;
  font-weight: 500;
}
.timeline__item-desc-time {
  font-size: 18px;
  font-weight: 700;
}
.section-contacts-bg {
  padding-top: 128px;
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: url(/img/contacts/contacts-lines_01.jpg);
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}
.section-contacts {
  background-color: #f4f8f9;
  z-index: -2;
}
.section-contacts .title {
  z-index: 1;
}
.section-contacts .bottom-line::after {
  bottom: 18px;
}
.section-contacts__bg {
  position: relative;
}
.section-contacts__bg-img {
  position: absolute;
  top: 149px;
  left: 105px;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 0;
}
.section-contacts__title {
  margin-bottom: 57px;
  padding-left: 17px;
}
.section-contacts__title h2 {
  margin-left: auto;
  margin-right: auto;
}
.section-contacts__content {
  padding-right: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}
.section-contacts__info {
  padding-top: 21px;
  padding-left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 510px;
  width: 45.54%;
}
.section-contacts__info-desc {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.6;
}
.section-contacts__info-contacts li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.section-contacts__info-contacts li span {
  width: 98px;
  margin-right: 97px;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
}
.section-contacts__info-contacts li {
  margin-bottom: 22px;
}
.section-contacts__info-contacts li:last-child {
  margin-bottom: 0px;
}
.section-contacts__info-contacts a,
.section-contacts__info-contacts p {
  font-size: 20px;
  font-weight: 500;
}
.section-contacts__info-contacts a {
  color: #039be5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.section-contacts__info-contacts a:hover,
.section-contacts__info-contacts a:active {
  color: #f3adaa;
}
.section-contacts__info-contacts p {
  color: #96969d;
}
.section-contacts__info-icons {
  margin-top: 45px;
}
.section-contacts__info-icons a {
  display: inline-block;
}
.section-contacts__info-icons a:not(:last-child) {
  margin-right: 26px;
}
.section-contacts__info-icons a:hover,
.section-contacts__info-icons a:active {
  opacity: 0.7;
}
.section-contacts__info-icons img {
  width: 50px;
  height: 50px;
}
.section-contacts__form {
  padding: 73px 60px 40px 60px;
  max-width: 511px;
  width: 45.63%;
  background-color: #fff;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
     -moz-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
}
.form-item {
  position: relative;
}
.form-item:first-child {
  margin-bottom: 55px;
}
.form-item:nth-child(2) {
  margin-bottom: 46px;
}
.form-item:nth-child(3) {
  margin-bottom: 34px;
}
.form-item .form-field {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 1px solid #eaeaea;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  outline: none;
}
.form-item textarea.form-field {
  height: 127px;
  resize: none;
}
.form-item .fake-placeholder {
  position: absolute;
  left: 4px;
  top: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  pointer-events: none;
}
.form-item .fake-placeholder.active {
  top: -16px;
  color: #ee9e40;
  font-size: 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.main-footer {
  padding-top: 23px;
  padding-bottom: 38px;
  padding-left: 18px;
  background-color: #333333;
}
.main-footer__copyright {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.main-footer__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #b0b0b0;
}
.main-footer__desc a {
  border-bottom: 1px solid #b0b0b0;
  color: #b0b0b0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.main-footer__desc a:hover,
.main-footer__desc a:active {
  color: #ffffff;
  border-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */