.card {
  margin-bottom: 60px;
  position: relative;

  cursor: pointer;
  transition: 0.3s;

  a {
    color: #000;
  }

  &:hover {
    filter: opacity(0.7);
  }
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 10px;

  font-size: 32px;
  font-weight: 700;
}

.card__subtitle {
  font-size: 22px;
  font-weight: 300;
}
