.header {
  padding-top: 267px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(/img/header/header-lines.jpg);
  background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
  
}

.header__navbar {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1430px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #000;
  }
}

.header__logo {
  margin-left: 6px;
  margin-top: 2px;

  font-size: 42px;
  font-weight: 900;
  transition: 1s;

  &:hover::after,
  &:active::after {
    height: 42px;
    background-color: #000;
    border-radius: 4px;
  }

  &:hover,
  &:active {
    color: var(--yellow);
  }
}

.header__nav-items {
  margin-left: 15px;

  text-align: center;
  font-size: 20px;
  font-weight: 700;

  a:not(:last-child) {
    margin-right: 72px;
  }
}

.header__nav-icons {
  padding-bottom: 5px;
  display: flex;
  align-items: center;

  a:not(:last-child) {
    margin-right: 17px;
  }
}

.linkedin-icon {
  width: 29px;
  height: 29px;

  svg:hover,
  svg:active {
    stroke: #0077b5;
    fill: #0077b5;
  }
}

.git-icon {
  padding-top: 3px;

  width: 29px;
  height: 29px;

  svg:hover,
  svg:active {
    stroke: #6cc644;
    fill: #6cc644;
  }
}

.vk-icon {
  padding-top: 5px;

  width: 32px;
  height: 29px;

  svg:hover,
  svg:active {
    stroke: #45668e;
    fill: #45668e;
  }
}

.header__center-top {
  padding-top: 120px;
  margin-top: -120px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateY(-140px);
}

.header__center-bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__intro {
  padding-left: 7px;
  max-width: 500px;
  z-index: 1;
}

.header__intro-title {
  margin-bottom: 12px;

  font-size: 46px;
  line-height: 1.2;

  .bottom-line::after {
    bottom: 25px;
  }

  span {
    font-weight: 800;
  }
}

.header__intro-desc {
  margin-bottom: 33px;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #393f47;
}

.header__intro-form {
  a:not(:last-child) {
    margin-right: 14px;
  }
}

.header__photo {
  position: relative;
  z-index: 1;
}

.header__photo-bg {
  position: absolute;
  top: 31.7%;
  left: 28.4%;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: linear-gradient(
    90deg,
    rgb(244, 248, 249) 0%,
    rgba(244, 248, 249, 0) 100%
  );
  opacity: 0.502;
}

.header__bg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
  transform: translateY(-126px);
}

.header__skills {
  padding-left: 7px;

  ul {
    margin-top: 25px;
    margin-bottom: 38px;

    font-size: 24px;
    font-weight: 400;
  }

  li::before {
    content: "\2014";
    margin-right: 8px;
  }

  li:not(:last-child) {
    margin-bottom: 3px;
  }
}

.header__title {
  font-size: 35px;
  font-weight: 800;
}

.header__social {
 padding-right: 55px;
}

.header__social-icons {
  margin-top: 31px;
  margin-bottom: 20px;

  a {
    display: inline-block;
  }

  a:not(:last-child) {
    margin-right: 28px;
  }

  a:hover, a:active {
    opacity: 0.7;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.header__social-email {
  font-size: 24px;
  font-weight: 400;

  a {
    color: #000;
    border-bottom: 1px solid #000;
    transition: 0.2s;
  }

  a:hover {
    color: #44aae9;
    border-color: #44aae9;
  }

  a:active {
    color: #f3adaa;
    border-color: #f3adaa;
  }
}
