.section-portfolio {
  padding-top: 96px;
  padding-bottom: 127px;

  background-color: #f4f8f9;
  z-index: -2;

  .bottom-line::after {
    bottom: 18px;
  }

  .title {
    z-index: 1;
    margin-bottom: 47px;
    margin-left: 7px;
  }
}

.section-portfolio__nav {
  padding-left: 7px;
  margin-bottom: 45px;
  display: flex;

  button {
    font-family: "MPLUS 1p", sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #8fa5ae;
    transition: 0.3s;
  }

  button:not(:last-child) {
    margin-right: 81px;
  }

  button:hover {
    color: var(--red);
  }
  button:active,
  button:focus {
    color: #000;
  }
}

.card-wrapper {
  padding-left: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
